/* buttons, cards, nav, footer */

:root {
}

.navbar-container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 20px;
}

.logo-image {
  width: 40px;
  height: 40px;
}

.navbar-bar {
  list-style-type: none;
  justify-content: space-between;
  display: none;
}

.menu-icon-container {
  width: 100%;
  justify-items: right;
}

.menu-icon {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin-left: calc(100% - 40px);
  justify-self: flex-end;
}

.login-button, .profile-button {
  color: var(--button-dark-text-color);
  text-decoration: none;
  padding: 6px 10px;
  border: 1px solid var(--button-border-color);
  border-radius: 20px;
  background-color: var(--button-dark-background-color);
}

a:active {
  border-radius: 20px;
  background-color: var(--button-dark-active-background-color);
  color: var(--button-dark-active-text-color);
}

/* .menu-overlay {

} */
/* Default is mobile */

/* Small Tablet */
@media screen and (min-width: 480px) and (max-width: 767px) {
  :root {
  }
}

/* Larger Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  :root {
  }
}

/* Desktop */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  :root {
  }

  a:hover {
    border-radius: 20px;
    background-color: var(--button-dark-active-background-color);
    color: var(--button-dark-active-text-color);
  }
  
  .navbar-bar {
    display: flex;
  }

  .menu-icon-container {
    display: none;
  }
}

/* Large Desktop */
@media screen and (min-width: 1440px) {
  :root {
  } 

  a:hover {
    border-radius: 20px;
    background-color: var(--button-dark-active-background-color);
    color: var(--button-dark-active-text-color);
  }

  .navbar-bar {
    display: flex;
  }

  .menu-icon-container {
    display: none;
  }
}