/* resets, typography, variables */
:root {
  --light-peach: #F2D6A2;
  --light-peach-soft: #f4e0bc;
  --light-peach-bold: #e5c791;

  --dutch-white: #F2DABD;
  --dutch-white-soft: #fff0df;
  --dutch-white-bold: #dcc2a4;

  --dark-brown: #261A0A;
  --dark-brown-soft: #3a2811;
  --dark-brown-bold: #181006;

  --brown: #8C5230;
  --brown-soft: #8a5233;
  --brown-bold: #794324;

  --light-brown: #BF7B54;
  --light-brown-soft: #c78560;
  --light-brown-bold: #b5724c;

  --black: #000000;
  --black-soft: #0F0F0F;

  --white: #ffffff;
  --white-soft: #f2f2f2;
  
  --page-background-color: var(--light-peach);
  --navbar-background-color: var(--brown);
  --footer-background-color: var(--brown);
  --page-text-color: var(--black-soft);
  --navbar-text-color: var(--light-peach);
  --footer-text-color: var(--light-peach);
}

/* Dark Colours */
@media (prefers-color-scheme: dark) {
  :root {

  }
}

.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jua-light {
  font-family: "Jua", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.jua-bold {
  font-family: "Jua", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.jua-regular-italic {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.jua-light-italic {
  font-family: "Jua", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.jua-bold-italic {
  font-family: "Jua", sans-serif;
  font-weight: 700;
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* nav {
  background-color: var(--color-navbar);
  color: var(--color-navbar-text);
  a:active {
    color: var(--color-navbar-text-hover);
  }
}


main {
  padding: var(--padding-main);
  background-color: var(--color-background);
  color: var(--color-text);
  a {
    color: var(--color-link);
  }
  a:active {
    color: var(--color-link-hover);
  }
}

/* Default is mobile */
/* Small Tablet */
/* @media screen and (min-width: 480px) and (max-width: 767px) {
  :root {
    --padding-main: 0 20px;
  }
}

/* Larger Tablet */
/* @media screen and (min-width: 768px) and (max-width: 1023px) {
  :root {
    --padding-main: 0 20px;
  }
} */

/* Desktop */
/* @media screen and (min-width: 1024px) and (max-width: 1439px) {
  :root {
    --section-gap: 40px;
    --padding-main: 0 40px;
  }

  nav {
    a:hover, a:active {
      color: var(--color-navbar-text-hover);
    }
  }

  main {
    a:hover, a:active {
      color: var(--color-link-hover);
    }
  }  
} */

/* Large Desktop */
/* @media screen and (min-width: 1440px) {
  :root {
    --section-gap: 40px;
    --padding-main: 0 40px;
  }
  
  nav {
    a:hover, a:active {
      color: var(--color-navbar-text-hover);
    }
  }

  main {
    a:hover, a:active {
      color: var(--color-link-hover);
    }
  }  
}  */

/* body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
} */

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
} */

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
